<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vava.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".UserInterface.MainMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UserInterface.SelectGameModActivity"/>
        <activity android:name=".UserInterface.AboutPageActivity"/>
        <activity android:name=".UserInterface.StatisticsPageActivity"/>
        <activity android:name=".UserInterface.HowToPlayPageActivity"/>
        <activity android:name=".UserInterface.OptionsPageActivity"/>
        <activity android:name=".UserInterface.EndlessLvlActivity"/>
        <activity android:name=".UserInterface.SelectStoryLvlActivity"/>
        <activity android:name=".UserInterface.StoryGameActivity"/>
        <activity android:name=".UserInterface.SurvivalLvlActivity"/>

    </application>

</manifest>